body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    background-color: #101111;
}

.container {
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
}

form input {
    border: 2px solid #101110;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    width: 100%;
    font-weight: bold;
}

form {
    background-color: #101111;
    width: 185px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(241, 161, 11);
    gap: 5px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

form .botao {
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
}

.logo-comanda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    margin: 0;
}

.guia {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: absolute;

    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.b1 {
    background-color: orange;
    color: white;
    padding: 0px 0px;
    border-radius: 25px;
    width: 12em;
    margin: 3;
    font-weight: bold;

    text-align: center;
    cursor: pointer;
    text-decoration: none;
}