.nav {
  margin: 20px;
}

.nav_button {
  background-color: orange;
  color: white;
  border-radius: 15px;
  font-size: 16px;
  margin: 5px 2px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: orange;
  background-position: auto;

  width: 500px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
}

.div_image {
  margin: 10px;
  margin-top: 0px;
}

.item_image {
  max-width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item_name,
.item_description {
  color: white;
}

.item_name{
  font-size: 15pt;
  font-weight: bold;
}

.item_description {
  width: 90%;
  text-align: center;
}

/* Estilo para o input do valor do item no menu */
.item_price {
  /* Adicione estilos de caixa para melhorar a aparência */
  width: 80px;
  height: 30px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 30px;

  text-align: center;

  /* Adicione estilos de fonte e cor */
  font-size: 16px;
  color: #333;

  /* Adicione estilos de foco para indicar interatividade */
  outline: none;


}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

.item_reduc, .item_sum, .item_quantity{
  cursor: pointer;
  border-radius: 10px;
  padding: 8px 12px;
  outline: none;
  border: none;
}

.item_reduc:hover,
.item_sum:hover{
  background-color: #333;
  color: white;
}


.item_quantity {
  text-align: center;
  width: 40px;
}

.observation {
  text-align: center;
  height: 100px;
  width: 90%;
  border-radius: 10px;
}

.button_return,
.button_add {
  padding: 12px;
  border: none;
  border-radius: 15px;
  width: 45%;

  cursor: pointer;
  background-color: white;

  color: orange;
  text-align: center;
  text-decoration: none;
  font-size: 12pt;

}


.button_return:hover,
.button_add:hover {
  background-color: #333;
}