.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: orange;
  background-position: auto;
  width: 500px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: aliceblue;
  border-style: solid;
  border-radius: 5px;


}

* {
  margin: 0;
  padding: 0;
}

.item_image {
  max-width: 100%;
  max-width: 100%;
}

.item_return,
.item_adds {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  text-decoration: none;
}


.item_adds:hover,
.item_return:hover {
  background-color: #45a049;
}

.label_obs {
  margin-left: 58px;
}

.observacao {
  text-align: center;
  height: 100px;
  width: 300px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

.item_sum {
  padding: 8px;
  border-radius: 15px;
  outline: none;
  border: none;
}

.item_reduc {
  padding: 8px;
  border-radius: 15px;
  outline: none;
  border: none;
}

.item_quantity {
  padding: 8px;
  border-radius: 15px;
  outline: none;
  border: none;
  text-align: center;
  width: 25px;
}

.b1 {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  margin: 5px 2px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.guia {
  margin: 40px;
}

/* Estilo para o input do valor do item no menu */
.item_price {
  /* Adicione estilos de caixa para melhorar a aparência */
  width: 80px;
  height: 30px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 30px;

  text-align: center;

  /* Adicione estilos de fonte e cor */
  font-size: 16px;
  color: #333;

  /* Adicione estilos de foco para indicar interatividade */
  outline: none;


}