.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: orange;
  background-position: auto;
  width: 500px;
  height: 700px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  border-color: aliceblue;
  border-style: solid;
  border-radius: 5px;


}

* {
  margin: 0;
  padding: 0;
}

.item_image {
  max-width: 100%;
  max-width: 100%;
}

.item_retorna {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.item_adds {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.label_obs {
  margin-left: 58px;
}

body {
  background-color:rgb(236, 85, 15);
  color: white;
}

.descricao {
  text-align: center;
  height: 100px;
  width: 300px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.item_sum {
  padding: 8px;
  border-radius: 15px;
  outline: none;
  border: none;
}

.item_reduc {
  padding: 8px;
  border-radius: 15px;
  outline: none;
  border: none;
}

.item_quantity {
  padding: 8px;
  border-radius: 15px;
  outline: none;
  border: none;
}