body {
    background-color: orange;
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    background-color: orange;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    background-color: orange;
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    font-size: 14px;
    /* Tamanho da fonte ajustado para dispositivos móveis */
}

th {
    background-color: rgb(236, 85, 15);
    color: white;
    /* Cor do texto para melhor legibilidade */
}

.total {
    background-color: orange;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
    /* Tamanho da fonte ajustado para dispositivos móveis */
}

.foto {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Adicionado espaço superior para melhorar o layout */
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    /* Adicionado espaço superior para melhorar o layout */
}

.button1,
.button2,
.b1 {
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px 2px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    align-content: center;
}

.b1 {
    font-size: 12px;
    /* Tamanho da fonte ajustado para dispositivos móveis */
    width: auto;
    /* Removido o valor fixo da largura para melhor adaptação */
}